.figure {
    overflow: auto;
    margin: 1em 0;
  }
  
  .figure table {
    margin: 0;
  }
  
  .figure > input {
    display: none;
  }
  
  .figure > .tabs {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .tabs {
    border-bottom: solid 1px #BFC8CD;
    font-size: 14px;
  }

  .tabs:hover {
    border-bottom: solid 1px #AAA;
  }

  .tabs:hover label {
    border-bottom: solid 1px #AAA;
  }
  
  .tabs label {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    background: #E1E1E1;
    color: #BFC8CD;
    border: solid 1px #BFC8CD;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    padding: 2px 0.5em 1px 0.5em;
    margin: 1px 5px -5px;
  }

  .tabs label:hover {
    color: #AAA;
    border: solid 1px #AAA;
    border-bottom: none;
    padding-bottom: 2px;
  }

  .view_table:checked ~ .tabs .view_table,
  .view_chart:checked ~ .tabs .view_chart {
    background: #fff;
    border-bottom: none;
    padding-bottom: 2px;
  }
  
  .figure > table, .figure > canvas {
    clear: right;
    float: left;
    margin-right: -100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 500ms;
  }
  
  .figure .view_table:checked ~ table,
  .figure .view_chart:checked ~ canvas {
    opacity: 1;
    pointer-events: auto;
  }
  