- locals = current_resource.metadata[:locals]
- prev_page = locals['prev_page']
- page_number = locals['page_number']
- num_pages = locals['num_pages']
- next_page = locals['next_page']

%nav.pagination{role: :pagination}
  - if prev_page
    = link_to '← Artigos recentes', prev_page, class: 'newer-posts'
  %span.page-number Página #{page_number} de #{num_pages}
  - if next_page
    = link_to 'Artigos antigos →', next_page, class: 'older-posts'
