---
title: Newsletter Ruby Brasil
layout: page
---

%p
  Para participar da newsletter da Comunidade Ruby Brasil, utilize o formulário abaixo. Neste 
  %a{:href => 'lancamento-newsletter-ruby-brasil'} post de lançamento
  foram detalhados os objetivos e parcerias da Newsletter.
   

#cadastro-newsletter-fdec99134c8aca6f96c5
%script{:src  => 'https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js'}
%script
  new RDStationForms('cadastro-newsletter-fdec99134c8aca6f96c5-html', 'UA-73768342-1').createForm();

%hr  

.issues
  %header 
    %h4 Edições Anteriores (Em Breve)
    %p Edição nº 1 em 01/02/2018



